{% extends "layout.html" %}

{% block style %}<link href="static/styles.css" rel="stylesheet">{% endblock %}
{% block title %}
  Homepage
{% endblock %}

{% block main %}

  <div class="container-fluid">
      <div class="row">
          <div class="col-sm"></div>
          <div class="col-sm"></div>
      </div>
      <div class="row">
          <div class="col-sm" style="text-align: center; margin-top: 20px;">
              <a href="/sign_in" class="btn btn-outline-success btn-lg" role="button">Start</a>
          </div>
      </div>
  </div>

{% endblock %}